<!-- Slider Start -->
<section id="{{ include.id }}" style="background-image: url({{page.sliderBackground}})">
  <div class="container">
    <div class="row">
      {% if page.title == 'Home'%}
      <div class="col-md-10 col-md-offset-2">
      {% else %}
      <div class="col-md-12">
      {% endif %}
        <div class="block">
          {% if page.title == 'Home' %}
          <h1 class="animated fadeInUp">{{page.sliderTitle}}</h1>
          <p class="animated fadeInUp">{{page.sliderDescription}}</p>
          {% else %}
            <h1>{{page.sliderTitle}}</h1>
            <p>{{page.sliderDescription}}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
